<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
      <img src="./assets/wallet.png" width="100" height="100" alt="logo">
    </div>
    <a class="navbar-brand" href=""><h1>Easy-Pay Wallet</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="create">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin">Logout</a>
          </li>
      </ul>
    </div>
  </nav>
  <div  class="container" >
      <h3>Welcome to admin page!</h3>
      View all the accounts present.<br>
    <button type="submit" class="btn btn-primary" (click)="accounts()">Get all accounts</button>
    <table class="table table-striped">
        <thead>
            <tr>
              <th>Accountno</th>
              <th>Name</th>
              <th>Balance</th>
              <th>Join date</th>
              <th>Phone number</th>
              <th>Email</th>
              
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let acc of account">
            <td>{{ acc.accountno }}</td>
            <td>{{ acc.name }}</td>
            <td>{{ acc.balance }}</td>
            <td>{{ acc.openingdate }}</td>
            <td>{{ acc.phoneno }}</td>
            <td>{{ acc.email }}</td>
            
          </tr>
        </tbody>
      </table>
    <br>
    Wish to delete an account?<br>
    <hr>

    <form (ngSubmit) = "delete()" #dform=ngForm>
        Enter the account number :  <input type="number" required [(ngModel)]="accountno" name="accno"/>
        <input type="submit" class="btn btn-danger" value="Delete account" name="delete" >
    </form>
    {{message}}
    <hr>
    
    
   
    

</div>