<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">
      <img src="./assets/wallet.png" width="100" height="100" alt="logo">
    </div>
    <a class="navbar-brand" href=""><h1>Easy-Pay Wallet</h1></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="main">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="user">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="create">Signup</a>
        </li>
      </ul>
    </div>
  </nav>

<div class="container-fluid " align="center" style="padding-top: 5%;">
    
    <div class="jumbotron div-custom" align="center" style="width: 45%; padding-bottom: 5%; padding-top: 6%;">
        <h1>Login   <img src="./assets/login.jpg" width="30" height="30" alt="icon"></h1><br>
       <h3 style="color: red;"> {{message}}</h3>
    <form #enForm="ngForm" (ngSubmit) = "login()" novalidate>
  
        <div class="form group">
            <label style="font-family: 'Times New Roman'; font-size: large;">Username</label>
            <input type="text" name="username" class="form-control" [(ngModel)]="username"
            #name="ngModel">

            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="text-danger">
                    <small *ngIf="name.errors.required">
                        Name is required.
                    </small>
                </small>
            </div>
        </div>
      
        <div class="form group">
            <label style="font-family: 'Times New Roman'; font-size: large;">Password</label>
            <input type="password" name="pass" class="form-control"  [(ngModel)]="password"
            #pass="ngModel">

        <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
            <small class="text-danger">

                <small *ngIf="pass.errors.required">
                    Password is required.
                </small>
            </small>
        </div>
        </div>
          <br>
        <div class="form group">
            <input type="submit" value="LOGIN" class="buttonnew" >
        </div>
       
    </form><br>
    <a href="#">Forgot password?</a><br>
    Doesn't have an account?<a [routerLink]="['/create']"> SignUp here.</a>
   
  </div>
  </div>