
<div class="container" align="center">
  <h2> Update Account   <img src="./assets/update.png" width="40" height="40" alt="icon"></h2>

<div  class="jumbotron"  style="align-content: center; border-style: solid;"  >
   
<div style="width: 400px;;">
    <form #upForm=ngForm (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label> Account HolderName</label>
          <input type="text" class="form-control" id="Name" required [(ngModel)]="account.name" name="Name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched">
          <small class="text-danger" [class.d-none]="name.valid||name.untouched">* Enter Name </small>
        </div>
    
        <div class="form-group">
          <label for="name">Phone number</label>
          <input type="number" class="form-control" id="phoneno" required [(ngModel)]="account.phoneno" name="phoneno" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched">
          <small class="text-danger" [class.d-none]="phone.valid||phone.untouched">* Enter Phone number </small>
        </div>
    
        <div class="form-group">
          <label for="date">Address</label>
          <input type="text" class="form-control" id="address" required [(ngModel)]="account.address" name="address" #address="ngModel">
          <small class="text-danger" [class.d-none]="address.valid || address.untouched">* Enter Address</small>
        </div>
    
        <div class="form-group">
          <label for="name">Email</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="account.email" name="email" #email="ngModel">
          <small class="text-danger" [class.d-none]="email.valid || email.untouched">*Enter Email</small>
      
        </div>
        
        <button type="submit" [disabled]="upForm.form.invalid" class="btn btn-success">Submit</button>
      </form>
    </div>
   
    </div>
    <button type="submit" class="btn btn-primary" (click)="back()">Return</button>

    </div>
    


