
<div class="container-fluid " >
  
    <nav class="navbar navbar-expand-md bg-success navbar-dark navfont">
     <!-- Links-->
    <ul class="navbar-nav">
      
      <li class="nav-item ">
          <a routerLink="list" class="nav-link " routerLinkActive="active">Account Details</a>
      </li>
      <li class="nav-item">
        <a routerLink="update" class="nav-link" routerLinkActive="active">Accounts updation</a>
      </li>
      <li class="nav-item">
        <a routerLink="deposit" class="nav-link" routerLinkActive="active">Deposit Money</a>
      </li>
      <li class="nav-item">
        <a routerLink="withdraw" class="nav-link" routerLinkActive="active">Withdraw Money</a>
      </li>
      <li class="nav-item">
        <a routerLink="showbal" class="nav-link" routerLinkActive="active">Check Balance</a>
      </li>
      <li class="nav-item">
        <a routerLink="transfer" class="nav-link" routerLinkActive="active">Transfer Money</a>
      </li>
      <li class="nav-item">
         <a routerLink="trans" class="nav-link" routerLinkActive="active">Transaction record</a>
       </li>
       <li class="nav-item">
         <a routerLink="/" class="nav-link" routerLinkActive="active" style="float: right; width: 10%;">logout</a>
       </li>
    </ul>
    
  </nav>
 <!--Welcome message -->
  <h2 style="color: black;">Welcome {{account.name}} !</h2>
  <h3 style="color:blue">Your account number is: {{account.accountno}}</h3><br>
  <h4>Remember your account number for future uses.</h4><br>

  <!--image-->
  <div align="right"><img src="./assets/bank.jpg" width="700" height="700" alt="bank"></div>
    
  </div>
  