.navbar-custom { 
    background-color: lightgreen; 
}
.div-custom { 
    background-color: bisque; 
} 
.backimage
{
    height:50em; 
    background-size:cover;
    width:auto;
    background-image:url("/prof.jpg");
    background-position:50% 50%;
}